<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="calendar" class="java.util.Calendar" factory-method="getInstance"/>-->

    <bean id="dateFactoryBean" class="ioc20.DateFactoryBean">
        <property name="year" value="2018"/>
        <property name="month" value="1"/>
        <property name="day" value="14"/>
        <property name="hour" value="12"/>
        <property name="minute" value="30"/>
        <property name="second" value="00"/>
    </bean>

    <bean id="double11" class="ioc20.DateFactoryBean">
        <property name="year" value="2018"/>
        <property name="month" value="11"/>
        <property name="day" value="11"/>
        <property name="hour" value="00"/>
        <property name="minute" value="00"/>
        <property name="second" value="00"/>
    </bean>
</beans>