<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="address" class="ioc24.Address">
        <property name="city" value="nanjing"/>
        <property name="province" value="jiangsu"/>
    </bean>-->

    <bean id="springBean" class="ioc24.SpringBean">
        <property name="address" value="[南京-江苏]"/>
        <property name="birthday" value="1998-10-4"/>
    </bean>

    <bean class="ioc24.SpringBeanFactoryProcessor">
        <property name="customEditors">
            <map>
                <entry key="ioc24.Address" value="ioc24.editor.AddressEditor"/>
                <entry key="java.util.Date" value="ioc24.editor.BirthdayEditor"/>
            </map>
        </property>

    </bean>

</beans>